<div class="container">
    <p class="float-right">
      <a href="#">Yukarı Çık</a>
    </p>
    <p>Bursa Uludağ Üniversitesi Hastanesi &copy; Hastanemizle ilgili web sayfalarımız takip edebilrsiniz.</p>
    <p>Hizmetlerimizle ilgili bilgi almak için <a href="http://suam.uludag.edu.tr" target="_blank"> Hastane Web Sayfalarımız</a> veya <a href="http://tip.uludag.edu.tr/" target="_blank">Tıp Fakültesi web sayfaları</a>.</p>
  </div>




  